version: "3.7"

services:
  postgres:
    image: postgres:12
    volumes:
      - postgres:/var/lib/postgresql/data/
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

  app:
    build: .
    volumes:
      - .:/app/:cached
      - bundle:/usr/local/bundle/
      - public:/app/public/
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    env_file:
      - .env.development
    restart: always

volumes:
  postgres:
  bundle:
  public:
