<div class="row row-animated">
  <div class="col-md-6 col-md-offset-3">
    <h2 class="list-title">
      <%= link_to cardsets_path, :class => "link-icon icon-xl" do %>
        <i class="mdi-navigation-arrow-back"></i>
      <% end %>
    <%= t('action_add') %>
    </h2>
    <hr>
    <div class="panel padding-md panel-default">
      <div class="panel-body">
        <%= form_for @cardset, url: cardsets_path do |f| %>
          <%= render 'form', f: f %>
        <% end %>
      </div>
    </div>
  </div>
</div>
