<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <% if @categories.size != 0 %>
    <div class="panel panel-default">
      <div class="panel-body">
        New cardset
      </div>
    </div>
    <% else %>
    <div class="alert alert-warning">
        <h4><%= t('title_nocategories') %></h4>
        <p><%= t('text_nocategories') %> <strong><%= link_to t('link_nocategories'), new_categories_path %></strong></p>
    </div>
    <% end %>
  </div>
</div>
