<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="row" data-bind="categories"></div>
  </div>
</div>

<input type="hidden" id="cardset_id" value="<%= @cardset.id %>">

<!-- TEMPLATES -->

<div data-template="category" class="hidden">
  <div class="col-xs-6">
    <div class="well text-white well-material-{{color}} cursor-pointer" onClick="alert('{{href}}');">
      <div class="panel-body text-center">
        <h4>{{title}}</h4>
        <small>{{cards.length}} cards remaining</small>
        <hr class="hr-hidden">
      </div>
    </div>
  </div>
</div>
