<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="well well-lg">
      <div class="panel-body">
        <%= form_for @card, url: cardset_card_path(:id => @card, :cardset_id => @cardset) do |f| %>
          <%= render 'form', f: f %>
        <% end %>
      </div>
    </div>
  </div>
</div>
