/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap/dist/css/bootstrap.min
 *= require bootstrap-material-design/dist/css/ripples.min
 *= require bootstrap-material-design/dist/css/material-wfont.min
 *= require dropdown.js/jquery.dropdown
 *= require animations
 */

.panel-padding {
  padding:  20px;
}

td {
  white-space:  nowrap;
}

.td-fill {
  width:  100%;
}

.margin-top-md {
  margin-top: 30px;
}

.text-white {
  color: white !important;
}

.btn-navbar {
  position: absolute !important;
  right: 10%;
  top: 30px !important;

  z-index: 1;
}

.panel-actions {
  margin-left: -40px;
  margin-top: -40px;
  background-color: transparent !important;
  border: 0 !important;
}

.panel-actions i {
  font-size: 18px;
}

.well-xl {
  padding:  40px !important;
}
