/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require bootstrap/bootstrap
 *= require bootstrap-material-design/ripples
 *= require bootstrap-material-design/material-wfont
 *= require jquery.dropdown
 *= require animations
 */

.panel-padding {
  padding:  20px;
}

.margin-top-md {
  margin-top: 30px;
}

.text-white {
  color: white !important;
}

.btn-navbar {
  position: absolute !important;
  right: 10%;
  top: 30px !important;

  z-index: 1;
}

.hidden {
  display: none;
}

/*
 * Panel list
 * 
 * */

.panel-list {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.panel-list > .row {
  padding: 15px;
  border-bottom: 1px solid #E0E0E0;
}

.panel-list > .row:first-child {
  padding-top: 0;
}

.panel-list > .row:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}

.panel-list > .row > [class*="col-"] {
  height: 24px;
  display: table;
}

.panel-list > .row > [class*="col-"] > span {
  vertical-align: middle;
  display: table-cell;
}

.list-title {
  font-family: "Roboto Light","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-top: 0 !important;
}

/**
 * Panel actionbar
 * 
 * */

.well-xl {
  padding: 40px !important;
}

.panel-actions {
  margin-left: -40px;
  margin-top: -40px;
  background-color: transparent !important;
  border: 0 !important;
}

.panel-actions i {
  font-size: 18px;
}

/**
 * Links
 *
 * */
.link-black,
.link-black:link,
.link-black:hover,
.link-black:focus,
.link-black:visited,
.link-black:active {
  color: #505050;
}

.link-icon {
  font-size: 18px;
  margin-right: 10px;
}

.link-icon,
.link-icon:link,
.link-icon:hover,
.link-icon:focus,
.link-icon:visited,
.link-icon:active {
  color: #777;
  text-decoration: none;
}

/**
 * Icons
 * 
 * */
.icon-xl {
  font-size: 24px;
}

.icon-md {
  font-size: 18px;
}

.icon-circle {
  padding: 4px;
  border-radius: 100%;
  color: white;
}
