<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="panel panel-padding panel-default">
      <div class="panel-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
