<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table">
          <thead>
            <th>Title</th>
            <th>Color</th>
          </thead>
          <tbody>
          <% @categories.each do |c| %>
            <tr>
              <td><%= c.title %></td>
              <td><%= c.color %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
