version: "3.7"

services:
  trivial:
    image: ghcr.io/floriandejonckheere/trivial-app:v4.0.2
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "1g"
        compress: "true"
    env_file:
      - .env.production
    restart: unless-stopped

networks:
  default:
    external:
      name: thalarion_default
