<!DOCTYPE html>
<html>
<head>
  <title>Trivial</title>
  <%= stylesheet_link_tag "application", params[:controller], :media => "all" %>
  <%= javascript_include_tag "application", params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body>

  <main class="transition">
    <div class="padding-md">
      <%= yield %>
    </div>
  </main>

</body>
</html>
